In [13]:
import pandas as pd
from sqlalchemy import *

db_path = 'postgresql://eqpytyddkgzpje:589827916509690e9baa1abd869d99bd85ac3c9902c361d04c1e560c2befd624@ec2-52-54-38-229.compute-1.amazonaws.com:5432/dap64di8scvd9n'

eng = create_engine(db_path)

In [14]:
pd.read_sql('''select * from "Survey" order by id asc''',eng).head(10)

   id                             survey_id
0   1  1b88c396-0fd2-4a66-9c5d-98ecf540ce4e
1   2  b87c986d-a07f-46b9-b228-bf8f728ca31c
2   3  aa9c4fac-ab8a-4837-b489-58873e685a0d
3   4  4d9f0f18-830e-495e-bc3f-480add601bcd
4   5  9043924d-3cef-4f40-bb58-a64c21fcda42
5   6  934523d9-f1f7-48d3-993e-26e24dd858de
6   7  9add8fac-1ef2-48cc-8508-919d7a41ade2
7   8  c43ccd90-8cb1-4739-a26c-5fd18c502f3c
8   9  b01f3be9-ee72-410a-ae10-e366e5df3fe4
9  10  ce3ffb82-153e-47ac-acdc-438224604f43

In [15]:
pd.read_sql('''select * from "Annotation";''',eng).head(10)

,id,survey_id,recording_id,source_count,user_note,practice_round
0,1,1b88c396-0fd2-4a66-9c5d-98ecf540ce4e,17,1,people on the left side,False
1,2,4d9f0f18-830e-495e-bc3f-480add601bcd,15,6,"Horn to the right, then cat then something mus...",False
2,3,934523d9-f1f7-48d3-993e-26e24dd858de,8,4,music left\ncat back\ncar horn right\nflute back,False
3,4,9add8fac-1ef2-48cc-8508-919d7a41ade2,25,9,Keys right\ndryer\npeople talking\ngato\nwind\...,False
4,5,c43ccd90-8cb1-4739-a26c-5fd18c502f3c,25,8,,False
5,6,b01f3be9-ee72-410a-ae10-e366e5df3fe4,16,2,"music left, dog back",False
6,7,ce3ffb82-153e-47ac-acdc-438224604f43,26,4,"rooster right, \ndot left, \nalarm back, \npeo...",False
7,8,c26e8f19-6ff3-46c9-8dd4-3c74149ae09b,23,4,"rooster left, music right keys, car horn(?)",False
8,9,5018c867-e72d-4acb-8b92-159b577dbef0,10,3,,False
9,10,cd2c6aa1-1263-4252-a605-a5d2f660a158,28,3,cat human engine,False

In [16]:
pd.read_sql('''select * from "Location";''',eng).head(10)

   id annotation_id  azimuth  elevation  practice_round  color
0   1             1      275          2           False    NaN
1   2             2       90          0           False    NaN
2   3             2       70          0           False    NaN
3   4             2       45          0           False    NaN
4   5             2       30          0           False    NaN
5   6             2      330          0           False    NaN
6   7             2      270          0           False    NaN
7   8             3      269          3           False    NaN
8   9             3      181          0           False    NaN
9  10             3       92         -1           False    NaN

In [17]:
pd.read_sql('''select * from "Confirmation";''',eng).head(10)

   id  recording_id  source_id  location_id annotation_id practice_round
0   1            17         47          1.0          None           None
1   2             8          4          8.0          None           None
2   3             8         36          9.0          None           None
3   4             8         71         10.0          None           None
4   5             8         31         11.0          None           None
5   6             8         55          NaN          None           None
6   7             8         23          NaN          None           None
7   8             8         21          NaN          None           None
8   9            25         29         12.0          None           None
9  10            25         36         13.0          None           None

In [18]:
pd.read_sql('''select * from "Recording" order by id;''',eng).head(10)

,id,recording_name,file_name,num_annotation,actual_num_source
0,1,sources_3_recording_130.wav,0.wav,10,3
1,2,sources_9_recording_10.wav,1.wav,1,9
2,3,sources_3_recording_160.wav,2.wav,6,3
3,4,sources_1_recording_157.wav,3.wav,1,1
4,5,sources_5_recording_129.wav,4.wav,1,5
5,6,sources_6_recording_80.wav,5.wav,1,6
6,7,sources_6_recording_51.wav,6.wav,0,6
7,8,sources_7_recording_48.wav,7.wav,1,7
8,9,sources_8_recording_135.wav,8.wav,1,8
9,10,sources_2_recording_52.wav,9.wav,3,2

In [9]:
pd.read_sql('''select * from "Recording" order by id;''',eng) #Please Keep this as reference to the last updated Table

,id,recording_name,file_name,num_annotation,actual_num_source
0,1,sources_3_recording_130.wav,0.wav,10,3
1,2,sources_9_recording_10.wav,1.wav,1,9
2,3,sources_3_recording_160.wav,2.wav,6,3
3,4,sources_1_recording_157.wav,3.wav,1,1
4,5,sources_5_recording_129.wav,4.wav,1,5
5,6,sources_6_recording_80.wav,5.wav,1,6
6,7,sources_6_recording_51.wav,6.wav,0,6
7,8,sources_7_recording_48.wav,7.wav,1,7
8,9,sources_8_recording_135.wav,8.wav,1,8
9,10,sources_2_recording_52.wav,9.wav,3,2
10,11,sources_4_recording_139.wav,10.wav,0,4
11,12,sources_5_recording_46.wav,11.wav,1,5
12,13,sources_2_recording_107.wav,12.wav,0,2
13,14,sources_9_recording_194.wav,13.wav,0,9
14,15,sources_5_recording_125.wav,14.wav,3,5
15,16,sources_2_recording_64.wav,15.wav,1,2
16,17,sources_1_recording_190.wav,16.wav,1,1
17,18,sources_10_recording_151.wav,17.wav,2,10
18,19,sources_7_recording_68.wav,18.wav,0,7
19,20,sources_10_recording_54.wav,19.wav,0,10
20,21,sources_8_recording_51.wav,20.wav,1,8
21,22,sources_10_recording_160.wav,21.wav,0,10
22,23,sources_7_recording_145.wav,22.wav,1,7
23,24,sources_3_recording_8.wav,23.wav,2,3
24,25,sources_8_recording_162.wav,24.wav,2,8
25,26,sources_4_recording_102.wav,25.wav,1,4
26,27,sources_6_recording_190.wav,26.wav,0,6
27,28,sources_4_recording_67.wav,27.wav,1,4
28,29,sources_9_recording_164.wav,28.wav,0,9
29,30,sources_1_recording_46.wav,29.wav,0,1
30,31,sources_3_recording_57.wav,30.wav,0,3
31,32,sources_3_recording_150.wav,31.wav,0,3