In [1]:
import pandas as pd
from sqlalchemy import *

db_path = 'postgresql://eqpytyddkgzpje:589827916509690e9baa1abd869d99bd85ac3c9902c361d04c1e560c2befd624@ec2-52-54-38-229.compute-1.amazonaws.com:5432/dap64di8scvd9n'

eng = create_engine(db_path)

In [2]:
pd.read_sql('''select * from "Survey"''',eng).head(10)

   id                             survey_id
0   1  1b88c396-0fd2-4a66-9c5d-98ecf540ce4e
1   2  b87c986d-a07f-46b9-b228-bf8f728ca31c
2   3  aa9c4fac-ab8a-4837-b489-58873e685a0d
3   4  4d9f0f18-830e-495e-bc3f-480add601bcd
4   5  9043924d-3cef-4f40-bb58-a64c21fcda42
5   6  934523d9-f1f7-48d3-993e-26e24dd858de
6   7  9add8fac-1ef2-48cc-8508-919d7a41ade2
7   8  c43ccd90-8cb1-4739-a26c-5fd18c502f3c
8   9  b01f3be9-ee72-410a-ae10-e366e5df3fe4
9  10  ce3ffb82-153e-47ac-acdc-438224604f43

In [3]:
pd.read_sql('''select * from "Annotation";''',eng).head(10)

,id,survey_id,recording_id,source_count,user_note,practice_round,vertical
0,1,1b88c396-0fd2-4a66-9c5d-98ecf540ce4e,17,1,people on the left side,False,None
1,2,4d9f0f18-830e-495e-bc3f-480add601bcd,15,6,"Horn to the right, then cat then something mus...",False,None
2,3,934523d9-f1f7-48d3-993e-26e24dd858de,8,4,music left\ncat back\ncar horn right\nflute back,False,None
3,4,9add8fac-1ef2-48cc-8508-919d7a41ade2,25,9,Keys right\ndryer\npeople talking\ngato\nwind\...,False,None
4,5,c43ccd90-8cb1-4739-a26c-5fd18c502f3c,25,8,,False,None
5,6,b01f3be9-ee72-410a-ae10-e366e5df3fe4,16,2,"music left, dog back",False,None
6,7,ce3ffb82-153e-47ac-acdc-438224604f43,26,4,"rooster right, \ndot left, \nalarm back, \npeo...",False,None
7,8,c26e8f19-6ff3-46c9-8dd4-3c74149ae09b,23,4,"rooster left, music right keys, car horn(?)",False,None
8,9,5018c867-e72d-4acb-8b92-159b577dbef0,10,3,,False,None
9,10,cd2c6aa1-1263-4252-a605-a5d2f660a158,28,3,cat human engine,False,None

In [4]:
pd.read_sql('''select * from "Location";''',eng).head(10)

   id annotation_id  azimuth  elevation  practice_round  color
0   1             1      275          2           False    NaN
1   2             2       90          0           False    NaN
2   3             2       70          0           False    NaN
3   4             2       45          0           False    NaN
4   5             2       30          0           False    NaN
5   6             2      330          0           False    NaN
6   7             2      270          0           False    NaN
7   8             3      269          3           False    NaN
8   9             3      181          0           False    NaN
9  10             3       92         -1           False    NaN

In [5]:
pd.read_sql('''select * from "Confirmation";''',eng).head(10)

   id  recording_id  source_id  location_id annotation_id practice_round
0   1            17         47          1.0          None           None
1   2             8          4          8.0          None           None
2   3             8         36          9.0          None           None
3   4             8         71         10.0          None           None
4   5             8         31         11.0          None           None
5   6             8         55          NaN          None           None
6   7             8         23          NaN          None           None
7   8             8         21          NaN          None           None
8   9            25         29         12.0          None           None
9  10            25         36         13.0          None           None

In [6]:
pd.read_sql('''select * from "Recording" order by num_annotation desc;''',eng)

      id               recording_name  num_annotation  num_source vertical
0    215  sources_3_recording_130.wav              10           3     None
1    213  sources_3_recording_160.wav               6           3     None
2    214   sources_2_recording_52.wav               3           2     None
3    212  sources_5_recording_125.wav               3           5     None
4    202  sources_8_recording_162.wav               2           8     None
..   ...                          ...             ...         ...      ...
219   24   sources_3_recording_86.wav               0           3     True
220   25   sources_3_recording_87.wav               0           3     True
221   26  sources_3_recording_102.wav               0           3     True
222   27  sources_3_recording_133.wav               0           3     True
223   28  sources_3_recording_147.wav               0           3     True

[224 rows x 5 columns]

In [14]:
pd.read_sql('''select * from "Recording" order by num_annotation desc;''',eng)

      id               recording_name  num_annotation  num_source vertical
0     43  sources_4_recording_111.wav               1           4     True
1      2   sources_1_recording_45.wav               0           1     True
2      3   sources_1_recording_58.wav               0           1     True
3      4  sources_1_recording_107.wav               0           1     True
4      5  sources_1_recording_111.wav               0           1     True
..   ...                          ...             ...         ...      ...
192  194  sources_3_recording_130.wav               0           3     None
193  195  sources_3_recording_160.wav               0           3     None
194  196   sources_3_recording_57.wav               0           3     None
195  197  sources_3_recording_150.wav               0           3     None
196  174  sources_6_recording_148.wav               0           6    False

[197 rows x 5 columns]