In [1]:
import pandas as pd
from sqlalchemy import *

pd.set_option('display.max_rows', 1000)
db_path = 'postgresql://eqpytyddkgzpje:589827916509690e9baa1abd869d99bd85ac3c9902c361d04c1e560c2befd624@ec2-52-54-38-229.compute-1.amazonaws.com:5432/dap64di8scvd9n'
eng = create_engine(db_path)

In [2]:
pd.read_sql('''select * from "Confirmation"''',eng).head(10)

   id  recording_id  source_id  location_id
0   1            17         47          1.0
1   2             8          4          8.0
2   3             8         36          9.0
3   4             8         71         10.0
4   5             8         31         11.0
5   6             8         55          NaN
6   7             8         23          NaN
7   8             8         21          NaN
8   9            25         29         12.0
9  10            25         36         13.0

In [75]:
pd.read_sql('''select * from "Location"''',eng).head(10)

   id annotation_id  azimuth  elevation  color  practice_round
0   1             1      275          2      1           False
1   2             2       90          0      1           False
2   3             2       70          0      2           False
3   4             2       45          0      3           False
4   5             2       30          0      4           False
5   6             2      330          0      5           False
6   7             2      270          0      6           False
7   8             3      269          3      1           False
8   9             3      181          0      2           False
9  10             3       92         -1      3           False

In [5]:
pd.read_sql('''select * from "Survey";''',eng).head(10)

   id                             survey_id
0   1  1b88c396-0fd2-4a66-9c5d-98ecf540ce4e
1   2  b87c986d-a07f-46b9-b228-bf8f728ca31c
2   3  aa9c4fac-ab8a-4837-b489-58873e685a0d
3   4  4d9f0f18-830e-495e-bc3f-480add601bcd
4   5  9043924d-3cef-4f40-bb58-a64c21fcda42
5   6  934523d9-f1f7-48d3-993e-26e24dd858de
6   7  9add8fac-1ef2-48cc-8508-919d7a41ade2
7   8  c43ccd90-8cb1-4739-a26c-5fd18c502f3c
8   9  b01f3be9-ee72-410a-ae10-e366e5df3fe4
9  10  ce3ffb82-153e-47ac-acdc-438224604f43

In [77]:
pd.read_sql('''select * from "Annotation"''',eng).head(10)

,id,survey_id,recording_id,source_count,user_note,practice_round
0,1,1b88c396-0fd2-4a66-9c5d-98ecf540ce4e,17,1,people on the left side,False
1,2,4d9f0f18-830e-495e-bc3f-480add601bcd,15,6,"Horn to the right, then cat then something mus...",False
2,3,934523d9-f1f7-48d3-993e-26e24dd858de,8,4,music left\ncat back\ncar horn right\nflute back,False
3,4,9add8fac-1ef2-48cc-8508-919d7a41ade2,25,9,Keys right\ndryer\npeople talking\ngato\nwind\...,False
4,5,c43ccd90-8cb1-4739-a26c-5fd18c502f3c,25,8,,False
5,6,b01f3be9-ee72-410a-ae10-e366e5df3fe4,16,2,"music left, dog back",False

In [78]:
pd.read_sql('''select * from "Interaction"''',eng).head(10)

,id,annotation_id,action_type,value,timestamp,practice_round
0,1,1,play audio,None,2022-01-29 23:10:51.134,False
1,2,1,source count,1,2022-01-29 23:11:02.508,False
2,3,1,azimuth,275,2022-01-29 23:11:03.513,False
3,4,1,elevation,2,2022-01-29 23:11:04.303,False
4,5,1,submit,None,2022-01-29 23:11:10.532,False
5,53,9043924d-3cef-4f40-bb58-a64c21fcda42,play audio,None,2022-02-01 00:43:08.364,False
6,6,2,play audio,None,2022-01-31 21:48:25.779,False
7,7,2,play audio,None,2022-01-31 21:48:48.830,False
8,8,2,play audio,None,2022-01-31 21:49:01.329,False
9,9,2,play audio,None,2022-01-31 21:49:24.646,False

In [79]:
pd.read_sql('''select * from "Recording" order by num_annotation desc;''',eng).head(10)

,id,recording_name,file_name,num_annotation,actual_num_source
0,25,sources_8_recording_162.wav,24.wav,2,8
1,2,sources_9_recording_10.wav,1.wav,1,9
2,24,sources_3_recording_8.wav,23.wav,1,3
3,15,sources_5_recording_125.wav,14.wav,1,5
4,9,sources_8_recording_135.wav,8.wav,1,8
5,8,sources_7_recording_48.wav,7.wav,1,7
6,17,sources_1_recording_190.wav,16.wav,1,1
7,16,sources_2_recording_64.wav,15.wav,1,2
8,12,sources_5_recording_46.wav,11.wav,0,5
9,13,sources_2_recording_107.wav,12.wav,0,2