In [2]:
import pandas as pd
from sqlalchemy import *

db_path = 'postgresql://eqpytyddkgzpje:589827916509690e9baa1abd869d99bd85ac3c9902c361d04c1e560c2befd624@ec2-52-54-38-229.compute-1.amazonaws.com:5432/dap64di8scvd9n'
eng = create_engine(db_path)

In [8]:
pd.read_sql('''select * from "Confirmation";''',eng).head(20)

    id  recording_id  source_id  location_id
0    1            17         47          1.0
1    2             8          4          8.0
2    3             8         36          9.0
3    4             8         71         10.0
4    5             8         31         11.0
5    6             8         55          NaN
6    7             8         23          NaN
7    8             8         21          NaN
8    9            25         29         12.0
9   10            25         36         13.0
10  11            25         59         14.0
11  12            25         25         15.0
12  13            25         27         16.0
13  14            25          8         17.0
14  15            25         42         18.0
15  16            25         79         19.0
16  17            25         29         21.0
17  18            25         36         22.0
18  19            25         59         23.0
19  20            25         25         24.0

In [9]:
pd.read_sql('''select * from "Location";''',eng).head(20)

    id annotation_id  azimuth  elevation  color  practice_round
0    1             1      275          2      1           False
1    2             2       90          0      1           False
2    3             2       70          0      2           False
3    4             2       45          0      3           False
4    5             2       30          0      4           False
5    6             2      330          0      5           False
6    7             2      270          0      6           False
7    8             3      269          3      1           False
8    9             3      181          0      2           False
9   10             3       92         -1      3           False
10  11             3      183          2      4           False
11  12             4       90          0      1           False
12  13             4       70          0      2           False
13  14             4       60          0      3           False
14  15             4       30          0      4           False
15  16             4        0          0      5           False
16  17             4      330          0      6           False
17  18             4      300          0      7           False
18  19             4      280          0      8           False
19  20             4      270          0      9           False

In [10]:
pd.read_sql('''select * from "Survey";''',eng).head(20)

    id                             survey_id
0    1  1b88c396-0fd2-4a66-9c5d-98ecf540ce4e
1    2  b87c986d-a07f-46b9-b228-bf8f728ca31c
2    3  aa9c4fac-ab8a-4837-b489-58873e685a0d
3    4  4d9f0f18-830e-495e-bc3f-480add601bcd
4    5  9043924d-3cef-4f40-bb58-a64c21fcda42
5    6  934523d9-f1f7-48d3-993e-26e24dd858de
6    7  9add8fac-1ef2-48cc-8508-919d7a41ade2
7    8  c43ccd90-8cb1-4739-a26c-5fd18c502f3c
8    9  b01f3be9-ee72-410a-ae10-e366e5df3fe4
9   10  ce3ffb82-153e-47ac-acdc-438224604f43
10  11  c26e8f19-6ff3-46c9-8dd4-3c74149ae09b
11  12  5018c867-e72d-4acb-8b92-159b577dbef0
12  13  cd2c6aa1-1263-4252-a605-a5d2f660a158
13  14  f74b8092-ff30-4d25-86a9-a835ca704b35
14  15  abf4c80a-f268-4243-b51b-f88e22b82d43

In [4]:
pd.read_sql('''select * from "Annotation";''',eng).head(20)

,id,survey_id,recording_id,source_count,user_note,practice_round
0,1,1b88c396-0fd2-4a66-9c5d-98ecf540ce4e,17,1,people on the left side,False
1,2,4d9f0f18-830e-495e-bc3f-480add601bcd,15,6,"Horn to the right, then cat then something mus...",False
2,3,934523d9-f1f7-48d3-993e-26e24dd858de,8,4,music left\ncat back\ncar horn right\nflute back,False
3,4,9add8fac-1ef2-48cc-8508-919d7a41ade2,25,9,Keys right\ndryer\npeople talking\ngato\nwind\...,False
4,5,c43ccd90-8cb1-4739-a26c-5fd18c502f3c,25,8,,False
5,6,b01f3be9-ee72-410a-ae10-e366e5df3fe4,16,2,"music left, dog back",False
6,7,ce3ffb82-153e-47ac-acdc-438224604f43,26,4,"rooster right, \ndot left, \nalarm back, \npeo...",False
7,8,c26e8f19-6ff3-46c9-8dd4-3c74149ae09b,23,4,"rooster left, music right keys, car horn(?)",False
8,9,5018c867-e72d-4acb-8b92-159b577dbef0,10,3,,False
9,10,cd2c6aa1-1263-4252-a605-a5d2f660a158,28,3,cat human engine,False
10,11,f74b8092-ff30-4d25-86a9-a835ca704b35,15,5,Horn\nCat\nDryer\nEngine\nHammer\n,False
11,12,abf4c80a-f268-4243-b51b-f88e22b82d43,12,7,,False
12,13,ca56fd0e-9735-48b7-a58a-04fd2657c0ac,1,3,dot right \nsiren right\nmusic left,True
13,14,ca56fd0e-9735-48b7-a58a-04fd2657c0ac,3,3,cat back music right drill back,True
14,15,ca56fd0e-9735-48b7-a58a-04fd2657c0ac,10,2,dog left siren right,False
15,16,4151c11e-3824-4799-a948-e79715df0ba7,1,3,,True
16,17,4151c11e-3824-4799-a948-e79715df0ba7,3,3,,True
17,18,4151c11e-3824-4799-a948-e79715df0ba7,4,1,toilet right,False

In [12]:
pd.read_sql('''select * from "Location";''',eng).head(20)

    id annotation_id  azimuth  elevation  color  practice_round
0    1             1      275          2      1           False
1    2             2       90          0      1           False
2    3             2       70          0      2           False
3    4             2       45          0      3           False
4    5             2       30          0      4           False
5    6             2      330          0      5           False
6    7             2      270          0      6           False
7    8             3      269          3      1           False
8    9             3      181          0      2           False
9   10             3       92         -1      3           False
10  11             3      183          2      4           False
11  12             4       90          0      1           False
12  13             4       70          0      2           False
13  14             4       60          0      3           False
14  15             4       30          0      4           False
15  16             4        0          0      5           False
16  17             4      330          0      6           False
17  18             4      300          0      7           False
18  19             4      280          0      8           False
19  20             4      270          0      9           False

In [13]:
pd.read_sql('''select * from "Interaction";''',eng).head(20)

,id,annotation_id,action_type,value,timestamp,practice_round
0,1,1,play audio,None,2022-01-29 23:10:51.134,False
1,2,1,source count,1,2022-01-29 23:11:02.508,False
2,3,1,azimuth,275,2022-01-29 23:11:03.513,False
3,4,1,elevation,2,2022-01-29 23:11:04.303,False
4,5,1,submit,None,2022-01-29 23:11:10.532,False
5,53,9043924d-3cef-4f40-bb58-a64c21fcda42,play audio,None,2022-02-01 00:43:08.364,False
6,6,2,play audio,None,2022-01-31 21:48:25.779,False
7,7,2,play audio,None,2022-01-31 21:48:48.830,False
8,8,2,play audio,None,2022-01-31 21:49:01.329,False
9,9,2,play audio,None,2022-01-31 21:49:24.646,False
10,10,2,play audio,None,2022-01-31 21:49:42.278,False
11,11,2,play audio,None,2022-01-31 21:49:59.262,False
12,12,2,source count,6,2022-01-31 21:50:14.954,False
13,13,2,play audio,None,2022-01-31 21:51:37.794,False
14,14,2,azimuth,90,2022-01-31 21:51:59.473,False
15,15,2,elevation,0,2022-01-31 21:52:06.163,False
16,16,2,azimuth,68,2022-01-31 21:52:31.662,False
17,17,2,elevation,0,2022-01-31 21:52:33.563,False
18,18,2,azimuth,69,2022-01-31 21:52:48.796,False
19,19,2,azimuth,70,2022-01-31 21:52:50.295,False

In [14]:
pd.read_sql('''select * from "Recording" order by num_annotation desc;''',eng).head(20)

,id,recording_name,file_name,num_annotation,actual_num_source
0,15,sources_5_recording_125.wav,14.wav,2,5
1,25,sources_8_recording_162.wav,24.wav,2,8
2,24,sources_3_recording_8.wav,23.wav,1,3
3,9,sources_8_recording_135.wav,8.wav,1,8
4,8,sources_7_recording_48.wav,7.wav,1,7
5,16,sources_2_recording_64.wav,15.wav,1,2
6,26,sources_4_recording_102.wav,25.wav,1,4
7,23,sources_7_recording_145.wav,22.wav,1,7
8,10,sources_2_recording_52.wav,9.wav,1,2
9,28,sources_4_recording_67.wav,27.wav,1,4
10,17,sources_1_recording_190.wav,16.wav,1,1
11,12,sources_5_recording_46.wav,11.wav,1,5
12,2,sources_9_recording_10.wav,1.wav,1,9
13,22,sources_10_recording_160.wav,21.wav,0,10
14,27,sources_6_recording_190.wav,26.wav,0,6
15,1,sources_3_recording_130.wav,0.wav,0,3
16,30,sources_1_recording_46.wav,29.wav,0,1
17,29,sources_9_recording_164.wav,28.wav,0,9
18,3,sources_3_recording_160.wav,2.wav,0,3
19,4,sources_1_recording_157.wav,3.wav,0,1